header
  .container.my-5
    .row
      .col-lg-4
        h1.my-3
          | How to create a perfect blog with 
          span.bg-aurora.text-white.py-1.pl-1 Gutenberg
          | ?
        p.lead
          | The famous Gutenberg editor has got three new visual blocks with the diversity of the effects.
        a.text-aurora.text-decoration-none(href='about-us.html')
          | learn how to start
          i(class="fas fa-arrow-right ms-1")
      .col-lg-8
        .img
          img.img-fluid(src='../images/background/bg-header.webp' alt='header imag' width='100%' height='100%')
