.loading-overlay
#js-loading-container.loading-container
  .loading-divider(aria-hidden='true')
  p.loading-text(aria-label='Loading')
    span.letter(aria-hidden='true') L
    span.letter(aria-hidden='true') o
    span.letter(aria-hidden='true') a
    span.letter(aria-hidden='true') d
    span.letter(aria-hidden='true') i
    span.letter(aria-hidden='true') n
    span.letter(aria-hidden='true') g
