nav.secondary-background-color.py-3.position-relative
  .container
    .d-flex.justify-content-between.align-items-center
      a.brand.text-dark.text-decoration-none(href='index.html')
        img(src="../images/icons/favicon.png", alt="favicon" width="100" height="50")
      #js-close-button.close-button.ms-auto
        span
        span
        span
      #js-main-links.main-links
        ul.list-unstyled.m-0
          li.custom-nav-link.active
            a(href='index.html' class=(current_page === "home" ? "nav-link active" : 'nav-link')) Home
          li.custom-nav-link.position-relative
            .custom-dropdown
              a.nav-link.custom-dropdown-link(href='#')
                | More
                svg.bi.bi-caret-down-fill.d-none.d-md-inline-block(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z')
              ul.custom-dropdown-menu.list-unstyled.ps-4
                li.custom-dropdown-item
                  a(href='login.html' class=(current_page === "login" ? "text-decoration-none active" : 'text-decoration-none')) login
                li.custom-dropdown-item
                  a(href='register.html' class=(current_page === "register" ? "text-decoration-none active" : 'text-decoration-none')) register
                li.custom-dropdown-item
                  a(href='articles.html' class=(current_page === "articles" ? "text-decoration-none active" : 'text-decoration-none')) articles
                li.custom-dropdown-item
                  a(href='about-us.html' class=(current_page === "about-us" ? "text-decoration-none active" : 'text-decoration-none')) about
          li.custom-nav-link.my-2.my-md-0
            a(href='contact-us.html' class=(current_page === "contact-us" ? "nav-link active" : 'nav-link')) contact
          li.custom-nav-link.my-2.my-md-0
            a.nav-link(href='profile.html'  class=(current_page === "profile" ? "nav-link active" : 'nav-link'))
              img.d-inline-block.align-top.rounded-circle(src='../images/icons/icon-profile.jpg' width='25' height='25' alt='profile')
              |  hello Mohammed
          li.custom-nav-link.my-2.my-md-0
            a#search-button.search-button.nav-link.ms-3.ms-ms-0(href='#')
              i(class="fas fa-search")
              //- svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
              //-   path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
              //- span.d-md-none  search
      #search-popup.search-popup
        .content.w-75.position-relative
          form(action='')
            input.input-search.w-100(type='search' placeholder='What are you looking for ?' value='' name='query')
            button(type='submit')
              i(class="fas fa-search text-aurora")
              //- svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' viewbox='0 0 16 16')
              //-   path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z')
