extends ../layouts/layout

block title 
  title GuttenBerry | Contact Us

block current_page 
  - var current_page = 'contact-us'

block style 

block javascript 

block content 

  section.contact-us.py-5.bg-light.p-5
    .shape
      img(src='../images/icons/shadow.svg' alt='show image')
    .container.my-5
      h1.h2.my-5.display-4.text-center Contact us
      .row.justify-content-center.align-items-center.my-5.align-items-stretch
        .col-md-6.col-lg-4.my-3
          .contact-item.text-center.h-100
            .contact-icon
              i.far.fa-envelope.text-aurora.h1
            .contact-content.mt-3
              a.h5(href='mailto:info@yourdomain.com') info@yourdomain.com
        .col-md-6.col-lg-4.my-3
          .contact-item.text-center.h-100
            .contact-icon
              i.fas.fa-map-marker.text-aurora.h1
            .contact-content.mt-3.h5
              a.h5(href="https://www.google.com/maps/place/Al-Azhar+University/@30.0591754,31.311457,17z/data=!3m1!4b1!4m5!3m4!1s0x14583e5404444859:0x3b0f48bf5e16c523!8m2!3d30.0591708!4d31.313651") 
                | Egypt, Cairo, Nasser City
        .col-md-6.col-lg-4.my-3
          .contact-item.text-center.h-100
            .contact-icon
              i.fas.fa-phone-volume.text-aurora.h1
            .contact-content.mt-3
              a.h5(href='tel:0100100100') 0100100100
      .row.justify-content-center.mt-5
        .col-lg-8
          form(action='#')
            .row
              .col-md-6.my-3
                .custom-form-input-container
                  input.custom-form-input(type='text' placeholder='' id='contact-us-name')
                  label.custom-form-label(for='contact-us-name') Name
                  span.focus-border
              .col-md-6.my-3
                .custom-form-input-container
                  input.custom-form-input(type='email' placeholder='' id='contact-us-email')
                  label.custom-form-label(for='contact-us-email') Email
                  span.focus-border
            .custom-form-input-container
              textarea.custom-form-input(placeholder='' rows='5' id='contact-us-message')
              label.custom-form-label(for='contact-us-message') Message
              span.focus-border
            .text-center
              button.btn-learn-more.hovered.mt-4(type='submit' aria-label='contact me')
                span.circle(aria-hidden="true")
                  span.icon.arrow
                span.button-text Contact me
