extends ../layouts/layout

block title 
	title Home

block style 
	//- link(rel="stylesheet", href="../css/home.min.css")

block javascript 
	//- script(src="../javascript/build/glide.min.js") 

block content 
	// any class or id used i JS should start with 'js-'
	h1.js-any_used  home 
