@use "sass:color";
@use "sass:map";

@import "scss/helpers/variables";
@import "scss/helpers/mixins";
@import "scss/helpers/utilities";
@import "scss/helpers/keyframes";

@import "scss/layout/footer";
@import "scss/layout/header";
@import "scss/layout/navbar";

.contact-us {
  position: relative;
  background: $main-gradient;
  overflow: hidden;
  z-index: 1;
  .shape {
    img {
      position: absolute;
      z-index: -1;
      max-width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

.latest-news {
  .single-news {
    .img-container {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
    .content {
      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
}

.newsletter {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  input {
    width: 100%;
    line-height: 50px;
    padding: 0 180px 0 25px;
    border: 2px solid #a387ffea;
    outline: none;
    font-weight: 300;
    border-radius: 50px;
    background: #f2f2f2;
    transition: 0.3s;

    &:focus {
      box-shadow: 0 0 0 0.2rem #a387ffb4;
    }
  }
  .news-letter-btn {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 767px) {
    input {
      padding: 0 25px;
    }
    .news-letter-btn {
      position: relative;
      margin-top: 10px;
      right: 0;
      bottom: 0;
      top: auto;
      transform: none;
    }
  }
}

.recent-trends {
  .single-trend {
    .img-container {
      width: 250px;
      img {
        height: 250px;
        object-fit: cover;
      }
    }
    .content {
      width: calc(100% - 250px);
      a {
        color: #333;
        text-decoration: none;
      }
    }
    @media (max-width: 768px) {
      .img-container,
      .content {
        width: 100%;
      }
      .img-container img {
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0.25rem;
        width: 100%;
      }
      .content {
        padding: 1rem;
      }
    }
  }
}

.login-page,
.register-page {
  .social-media-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
  }
  @media (max-width: 768px) {
    .bg-login,
    .login-content {
      border-radius: 0.25rem;
    }
  }
}

.post-details {
  img.main-image {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  @media (min-width: 768px) {
    img.main-image {
      height: 500px;
    }
  }
}

.profile-page {
  .user-posts {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    .single-post {
      img {
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
