@use "sass:color";
@use "sass:map";

@import "scss/helpers/variables";
@import "scss/helpers/mixins";
@import "scss/helpers/utilities";
@import "scss/helpers/keyframes";

@import "scss/layout/footer";
@import "scss/layout/header";
@import "scss/layout/navbar";

.contact-us {
  position: relative;
  background: $main-gradient;
  overflow: hidden;
  z-index: 1;
  .shape {
    img {
      position: absolute;
      z-index: -1;
      max-width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

.view-more-btn {
  color: #333;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    height: 2px;
    top: 30px;
    width: 100%;
    position: absolute;
    background-color: $main-color;
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
  }
  &:hover {
    color: #333;
    opacity: 0.5;
    text-decoration: none;

    &::before {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}

.main-background-color {
  background: $main-gradient;
}

.secondary-background-color {
  background: $secondary-gradient;
}

.latest-news {
  .single-news {
    .img-container {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
    .content {
      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
}
.newsletter {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  input {
    width: 100%;
    line-height: 50px;
    padding: 0 180px 0 25px;
    border: 2px solid #a387ffea;
    outline: none;
    font-weight: 300;
    border-radius: 50px;
    background: #f2f2f2;
    transition: 0.3s;

    &:focus {
      box-shadow: 0 0 0 0.2rem #a387ffb4;
    }
  }
  .news-letter-btn {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 767px) {
    input {
      padding: 0 25px;
    }
    .news-letter-btn {
      position: relative;
      margin-top: 10px;
      right: 0;
      bottom: 0;
      top: auto;
      transform: none;
    }
  }
}

.recent-trends {
  .single-trend {
    .img-container {
      width: 250px;
      img {
        height: 250px;
        object-fit: cover;
      }
    }
    .content {
      width: calc(100% - 250px);
      a {
        color: #333;
        text-decoration: none;
      }
    }
    @media (max-width: 768px) {
      .img-container,
      .content {
        width: 100%;
      }
      .img-container img{
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: .25rem;
        width: 100%;
      }
      .content {
        padding: 1rem;
      }
    }
  }
}

/* profile animation */

.profile-container.pre-enter {
  transform-origin: center center;
  transform: scaleY(0);
}
.profile-container.pre-enter .user-img {
  transform-origin: center top;
  transform: scaleY(0);
}
.profile-container.pre-enter h2,
.profile-container.pre-enter a.follow,
.profile-container.pre-enter a.link {
  opacity: 0;
  transform: translateY(500px);
}
.profile-container.on-enter {
  -webkit-animation: scaleYIn 1000ms ease-out forwards;
  animation: scaleYIn 1000ms ease-out forwards;
}
.profile-container.on-enter .user-img {
  -webkit-animation: scaleYIn-small 750ms ease-out forwards 1000ms;
  animation: scaleYIn-small 750ms ease-out forwards 1000ms;
}
.profile-container.on-enter h2,
.profile-container.on-enter a.follow,
.profile-container.on-enter a.link {
  opacity: 1;
  -webkit-animation: slideInUp 1000ms ease-out forwards;
  animation: slideInUp 1000ms ease-out forwards;
}
.profile-container.on-enter h2 {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}
.profile-container.on-enter a.follow {
  -webkit-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
.user-img {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
.work {
  background: #f5515f;
  background: linear-gradient(135deg, #f5825f 0%, #f5005f 100%);
}
a.follow {
  background: #05abe0;
  background: linear-gradient(135deg, #05c8e0 0%, #057fe0 100%);
}
a.follow:hover,
a.follow:focus {
  background: #05c8e0;
  background: linear-gradient(135deg, #1ee2fa 0%, #1e99fa 100%);
}
a.follow:active {
  background: #057fe0;
  background: linear-gradient(135deg, #04b2c7 0%, #0471c7 100%);
}

@media only screen and (min-width: 470px) {
  .profile-container.pre-enter {
    transform: scaleX(0);
  }
  .profile-container.pre-enter .user-img {
    transform-origin: left center;
    transform: scaleX(0);
  }
  .profile-container.pre-enter h2,
  .profile-container.pre-enter a.follow,
  .profile-container.pre-enter a.link {
    transform: translateX(500px);
  }
  .profile-container.on-enter {
    -webkit-animation-name: scaleXIn;
    animation-name: scaleXIn;
  }
  .profile-container.on-enter .user-img {
    -webkit-animation-name: scaleXIn-small;
    animation-name: scaleXIn-small;
  }
  .profile-container.on-enter h2,
  .profile-container.on-enter a.follow,
  .profile-container.on-enter a.link {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }
}

.profile-container {
  height: 400px;
}

@media (max-width: 768px) {
  .profile-container {
    height: auto !important;
  }
  .profile-container .img-container {
    height: 250px !important;
  }
  .profile-container .user-img {
    border-radius: 50% !important;
    clip-path: none;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
  }
}

/* https://goo.gl/jIUq3E */
@keyframes scaleXIn {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/* https://goo.gl/auuhcg */
@keyframes scaleYIn {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/* https://goo.gl/dNBqrt */
@keyframes scaleXIn-small {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.31% {
    transform: matrix3d(0.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.51% {
    transform: matrix3d(0.621, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.82% {
    transform: matrix3d(0.771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.03% {
    transform: matrix3d(0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.54% {
    transform: matrix3d(0.952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50.05% {
    transform: matrix3d(0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.08% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/* https://goo.gl/jZL0uj */
@keyframes scaleYIn-small {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.31% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.51% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.621, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.82% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.03% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.862, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.54% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.952, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50.05% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.08% {
    transform: matrix3d(1, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/* https://goo.gl/Ne0Mkr */
@keyframes slideInLeft {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 300, 0, 0, 1);
  }
  6.31% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 184.858, 0, 0, 1);
  }
  12.51% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 113.68, 0, 0, 1);
  }
  18.82% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 68.663, 0, 0, 1);
  }
  25.03% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 41.37, 0, 0, 1);
  }
  37.54% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 14.382, 0, 0, 1);
  }
  50.05% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.724, 0, 0, 1);
  }
  75.08% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.381, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/* https://goo.gl/MSqtd5 */
@keyframes slideInUp {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1);
  }
  6.31% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 184.858, 0, 1);
  }
  12.51% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 113.68, 0, 1);
  }
  18.82% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 68.663, 0, 1);
  }
  25.03% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 41.37, 0, 1);
  }
  37.54% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 14.382, 0, 1);
  }
  50.05% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 4.724, 0, 1);
  }
  75.08% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.381, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* input label effect */
.input-effect ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  pointer-events: none;
  top: 5px;
  font-size: 1rem;
  color: #aaa;
  transition: 0.3s;
}
.input-effect:focus ~ label,
.input-effect.has-content ~ label {
  top: -30px;
  left: 0;
  /* font-size: 0.9rem; */
  font-weight: 400;
  color: #212529;
  transition: 0.3s;
}

.login-btn {
  z-index: 1;
  border-radius: 25px;
  box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
}

.login-btn .gradient {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login-btn:hover .gradient {
  left: 0;
}
.login-btn button {
  background-color: transparent;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
