- 
  const news_arr = [
    {
      title: 'How to work with the chess layout for Gutenberg?',
      info: 'Here you will learn how to easy and quickly use blocks as a tool for creating attractive content.', 
      img:'../images/background/blog/bg-blog-1.jpg'
    }, 
    {
      title: 'Top-5 ways to minimalism with the grid layouts.', 
      info: 'It is not always the big amount of details make your photo interesting. Sometimes small things are better.', 
      img:'../images/background/blog/bg-blog-2.jpg'
    }, 
    {
      title: 'Easy tips on how to add pictures in the gallery.', 
      info: 'The developer company created new techniques which help to design simply dynamic content and images.', 
      img:'../images/background/blog/bg-blog-3.jpg'
    },
    {
      title: 'New ZeGuten plugin with widgets for content.', 
      info: 'The company announced about the new ZeGuten plugin which will be available for selling later this year.',
      img:'../images/background/blog/bg-blog-4.jpg'
    }, 
    {
      title: 'Main steps to perfect content with Gutenberg.', 
      info: 'Create unique blocks easily with just a few clicks. All about new technologies, rules and not only.', 
      img:'../images/background/blog/bg-blog-5.jpg'
    }, 
         {
      title: 'Your site can work quickly without errors.', 
      info: 'The fast work of the site is ensured by the correct arrangement of all content blocks and layouts.', 
      img:'../images/background/blog/bg-blog-6.jpg'
    }, 
    ]
